{% extends 'base.html.twig' %}

{% block title %}Voeg user toe{% endblock %}

{% block body %}
    <h1>Voeg user toe</h1>
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.Username) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.Email) }}

        <button class="btn">Voeg user toe</button>
    {{ form_end(registrationForm) }}
{% endblock %}
