{% extends 'base.html.twig' %}

{% block title %}Poule{% endblock %}

{% block body %}
    <h1>Poule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ poule.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ poule.naam }}</td>
            </tr>
            <tr>
                <th>Land1</th>
                <td>{% if not poule.land1 == NULL %}{{ poule.land1.naam }}{% endif %}</td>
            </tr>
            <tr>
                <th>Land2</th>
                <td>{% if not poule.land2 == NULL %}{{ poule.land2.naam }}{% endif %}</td>
            </tr>
            <tr>
                <th>Land3</th>
                <td>{% if not poule.land3 == NULL %}{{ poule.land3.naam }}{% endif %}</td>
            </tr>
            <tr>
                <th>Land4</th>
                <td>{% if not poule.land4 == NULL %}{{ poule.land4.naam }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('poule_index') }}">back to list</a>

    <a href="{{ path('poule_edit', {'id': poule.id}) }}">edit</a>

    {{ include('poule/_delete_form.html.twig') }}
{% endblock %}
